.highlight {
  position: relative;
  // color: var(--text);
  &__text {
    position: relative;
    z-index: 1;
    // font-family: $font-logo;
    padding: 0 4px;
    .isFirst & {
      padding-right: 10px;
    }
  }

  &__color {
    position: absolute;
    bottom: 0;
    padding: 6px;
    border-radius: 5px;
    left: 0;
    background: var(--accent);
    z-index: 0;
    // margin: 4px;
    width: 100%;
    height: 100%;
  }
}
