.intro {
  padding: 30px 0;
  border-bottom: 1px solid -var(-accent);
  color: var(--text);
  @media (min-width: $min-768) {
    padding: 60px 0;
  }
  &__looking {
    // filter: invert(30%);
    background: var(--accent);
    // background: darken(--bg, 20%);
    // color: var(--bg);
    font-weight: 600;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 6px;
  }
  &__col {
    @include grid-col;

    @media (min-width: $min-768) {
      @include grid-col(7);
    }
  }

  &__text {
    @include rf(20, 32);

    font-family: $font-europa;
    font-weight: 600;
  }
  &__playground {
    display: inline-block;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
